body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: url('66.jpeg') no-repeat center center fixed;
    background-size: cover;
    color: rgb(31, 18, 170);
    font-family: 'Arial', sans-serif;
}

header, footer {
    text-align: center;
    margin-bottom: 20px;
    color: rgb(60, 11, 167); /* Heading and footer text in blue */
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.countdown-container {
    text-align: center;
    background: rgba(0, 0, 0, 0.7); /* Increased opacity for better contrast */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    z-index: 1;
}

#countdown {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.time-section {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.3s;
}

.time-section:hover {
    transform: scale(1.1);
}

.time-section span {
    color: white; /* Timer numbers in white */
    font-size: 2.5em;
    display: block;
}

.time-section p {
    margin: 0;
    font-size: 1.2em;
    color: #ddd;
}

footer {
    margin-top: 20px;
    font-size: 1em;
    color: blue; /* Footer text in blue */
}
